{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1>CS50x Final Project: Comparison Cart</h1>
        <p class="lead">This web aplication is built for CS50x's final project.</p>
    </div>
    <p>
        Welcome to my final project's website, where you can compare prices from two major UK retail stores, Morrisons and Waitrose.
        Search for products, compare prices, and add items to your carts. To get started, register first.
    </p>
</div>
{% endblock %}